nav{
    border-bottom: 2px solid var(--secand-color);
    padding: 40px;
}
.navbar-brand{
    color: var(--secand-color) !important;
    font-family: var(--prime-font);
    font-weight: bold;
    font-style: italic;
   
} 
.navbar-nav .nav-link{
    color: var(--text-color) !important;
}

.navbar-nav .nav-link .join{
    background-color: var(--highlight-color);
}