.slide{
   
    
    height: 100vh;
    background-image: url(../../slide.png);
    background-size: cover;

}
.slide .container{
   padding-top: 100px;
    text-align: start;
}
div>h1{
    font-size: 5rem;
    font-weight: bold;
    color: var(--highlight-color);
    font-family: var(--prime-font);
} 
