.cardlist ul {
    display: flex;
    justify-content: center;
}
.cardlist .nav-link {
    color: var(--highlight-color) !important;
    font-weight: bold;
} 
.card-img-top{
   
}

.slide{
    height: 100vh;
    background-image: url(../../slide.png);
    background-size: cover;

}
.slide .container{
   padding-top: 100px;
    text-align: start;
}
div>h1{
    font-size: 5rem;
    font-weight: bold;
    color: var(--highlight-color);
    font-family: var(--prime-font);
} 
