.card{
    background-color: var(--prime-color);
    color: var(--secand-color);
} 
.card-link{
    color: var(--highlight-color);
}
.btn{
    background-color: var(--highlight-color);
}
.profile{
    display: flex;
    flex-direction: row;

} 
.right{
    padding-top: 10px;
} 
.left{

} 

