.card{
    background-color: var(--prime-color);
    color: var(--secand-color);
} 
.card-link{
    color: var(--highlight-color);
}



.head-profile{
    border-bottom: 1px solid var(--secand-color);
    padding: 50px;
}
.head-profile img{
    width: 200px;
    height: 200px;
} 

.material-symbols-outlined, .head-profile h2 {
font-size: 4rem; 

} 


.head h2{
    font-size: 3rem;
    text-align: start;
    margin-top: 20px;
} 
.edit label{
    font-weight: bold;
    font-size: larger;
}
.edit input:value{
    color: white;
}

.link{
    background-color: var(--highlight-color);
    color: var(--white);
    padding: 15px;
    margin-bottom: 30px; 
    border-radius: 15px;
}

/* -----------editpost---------- */

.headUpdate {
    font-size: 3rem;
    text-align: start;
  
} 



/*  editprofile */

