body {
  margin: 0;
  font-family: "Montserrat",'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1E2A38;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




:root{
  --prime-color:#f4f4f4;
  --white:#fff;
  --secand-color:#c2c2c2;
  --highlight-color:#6568ad;
  --text-color:#777777; 
  --prime-font:"Josefin Sans", sans-serif;

}